{% extends 'index.html' %}
{% block head %}
        <title>Adssign Customers</title>
{% endblock %}

{% block content %}
<h1>Assign Movie</h1>
        <form method = 'post'>
            {% csrf_token %}
            <select name="movie_id">
                {% for movies in moviedata %}
                    <option value="{{movies.id}}">{{movies.movie_name}}</option>
                {% endfor %}
            </select>

            <select name="customer_id" >
                {% for customer in customerdata %}
                    <option value="{{customer.id}}">{{customer.cust_name}}</option>
                {% endfor %}
            </select>
            <button type = 'submit'>Assign</button>
        </form>
{% endblock %}